---
layout: default
title: 成宇的Blog
---

{% for post in site.posts %}
<ul id="post_list">
    <li class="post-preview">
        <div class="body">
            <div class="content">
                <h2 class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                {% if post.content contains "<!-- more -->" %}
                    <p>{{ post.content | split: "<!-- more -->" | first % }}</p>
                    <h3 class="read more"><a href="{{ post.url }}" title="{{ post.title }}">Read More...</a></h3>
                {% else %}
                    {% if post.content contains "<!-- nomore -->" %}
                        <p>{{ post.content | strip_html }}</p>
                    {% else %}
                        <p>{{ post.content | strip_html | truncatewords:100 }}</p>
                        <h3 class="read more"><a href="{{ post.url }}" title="{{ post.title }}">Read More...</a></h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
</ul>
{% endfor %}

<h3><a class="pull-right" href="/archive.html">所有日志...</a></h3>