<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!--[if lte IE 8]><link rel="stylesheet" href="/contents/css/responsive-nav.css"><![endif]-->
		<!--[if gt IE 8]><!--><link rel="stylesheet" href="/contents/css/styles-ie.css"><!--<![endif]-->
		<script src="/contents/js/responsive-nav.js"></script>

	</head>

	<body>

		<div id="nav">
			<ul>
				<li><a href="Home">Home</a></li>
				<li><a href="Blog">Blog</a></li>
				<li><a href="Projects">Projects</a></li>
				<li><a href="About">About</a></li>
			</ul>
		</div>

		{{ content }}
	
		<script>
			var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
		</script>
	</body>
</html>