<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--[if lte IE 8]><link rel="stylesheet" href="/contents/css/responsive-nav.css"><![endif]-->
        <!--[if gt IE 8]><!--><link rel="stylesheet" href="/contents/css/styles.css"><!--<![endif]-->
        <script src="/contents/js/responsive-nav.js"></script>

    </head>

    <body>

        <div role="navigation" id="foo" class="nav-collapse">
            <ul>
                <li><a href="/../Home">Home</a></li>
                <li class="active"><a href="/../Blog">Blog</a></li>
                <li><a href="/../Projects">Projects</a></li>
                <li><a href="/../About">About</a></li>
            </ul>
        </div>

        <div role="main" class="main">
            <a href="#nav" class="nav-toggle">Menu</a>

        {{ content }}

        
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'cygithub'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
        </div>
    
        <script>
            var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
        </script>
    </body>
</html>